doctype html
html(lang="en")
  head
    include common_headers.pug
    title 404 | Bing Wallpapers, Bing Daily Wallpapers, Bing HD Wallpapers
    meta(name="keywords", content="Bing wallpaper, Bing hd wallpaper download, Bing wallpaper collection, Bing daily download wallpaper, Bing wallpaper interface, Bing official download wallpaper, Bing wallpaper, Microsoft Bing daily wallpaper, Bing daily download wallpaper, wallpaper Bing API, hd wallpaper share, Bing official download wallpaper, Bing hd wallpaper, Bing package download wallpaper")
    link(rel='stylesheet', href='/static/css/common.css')
    link(rel='stylesheet', href='/static/css/main.css')
body
    p Ops!出现了一些错误!
